[data-theme="light"]
{
  --main-background-color: #ffffff;
  --main-text-color: #212529;

  --main-a-underline-color: #000000;

  --main-input-border-color: #ced4da;

  --main-btn-primary-color: #007bff;
  --main-btn-primary-background-color: #0069d9;
  --main-btn-primary-border-color: #0062cc;
  --main-btn-primary-active-border-color: #005cbf;
  --main-btn-primary-focus-shadow-color: rgba(38, 143, 255, .5);

  --main-btn-danger-color: #dc3545;

  --main-btn-success-color: #28a745;
  --main-btn-success-hover-background-color: #218838;
  --main-btn-success-hover-border-color: #1e7e34;

  --navbar-color: #66CC66;
  --navbar-active-color: #58b35a;
  --navbar-hover-color: #7ce67c;

  --loading-background-color: rgba(255,255,255,0.7);
  --loading-spinner-color: black;

  --footer-color: #f1f1f1;

  --menu-type-accordion-background-color: #fff;
}
