%div.center
  %a{ href: 'https://icons8.com/' }
    %img{ id: 'not-found', src: '/public/images/broken_robot_transparent.png' }
  %h1 Internal Server Error
  %p The server encountered an internal error or misconfiguration and was unable to complete your request.
  %button{ onclick: "window.location.href = '/';", class: 'btn btn-primary rounded' }
    %i{class: 'fas fa-arrow-left' }
    &nbspBack to Home
