%div.center
  %a{ href: 'https://icons8.com/' }
    %img{ id: 'not-found', src: '/public/images/open_freezer_transparent.png' }
  %h1 Page Not Found
  %p Sorry, but the page you were trying to view does not exist.
  %button{ onclick: "window.location.href = '/';", class: 'btn btn-primary rounded' }
    %i{class: 'fas fa-arrow-left' }
    &nbspBack to Home
