%div{ class: 'row' }
  %div{ class: 'col-xl-8 offset-xl-2' }
    %h1= "#{@menu_type} Menu"
    %p This is a menu chosen entirely by you!
    %p
      For more information, check out the
      %a{ href: '/how-it-works' } "How It Works"
      page.
