%div{ class: 'row' }
  %div{ class: 'col-xl-8 offset-xl-2' }
    %h1= "#{@menu_type} Menu"
    %p This is simply the unfiltered, original menu.
    %p It's included here just in case you need to reference it.
