%footer{ class: 'container-fluid w-100 py-3' }
  %div{ class: 'center' }
    %small{ class: 'text-muted' }
      = "Copyright © 2020–#{Date.current.year}"
      %a{ href: 'https://blakegearin.com' } Blake Gearin
      = "&nbsp|&nbsp"
      %a{ href: '/about#disclaimer' } Disclaimer
