%footer{ class: 'container-fluid w-100 py-3' }
  %div{ class: 'center' }
    %small{ class: 'text-muted' }
      = "Copyright © 2020–#{Date.current.year} Blake Gearin &nbsp|&nbsp"
      %a{ class: 'text-muted', href: '/about#disclaimer' } Disclaimer
